/*==================== TARGETED ====================*/
.target-pg {
	.advantages-b {
		.info-card {
			padding: 32px 16px 30px;

			&__ic {
				height: 65px;
			}

			&__title {
				margin-top: em(25, 14);
				font-size: 14px;
			}
		}
	}

	@include from($table) {
		.info-card {
			&__title {
				min-height: em(35, 14);
			}
		}
		.cards-slider__slide {
			flex: 1;
		}
	}
}
