<!-- FOOTER -->
<footer class="footer">
	<!-- footer top -->
	<div class="footer__top">
		<div class="footer__top-container container">
			<!-- footer top row -->
			<div class="footer__top-row">
				<!-- col -->
				<div class="footer__top-col">
					<div class="footer__company">
						<!-- logo -->
						<a class="footer__logo logo" href="#">
							<img src="./assets/img/logo@light.png" alt="logo">
						</a>
						<p>
							ООО «Валлия Компани» <br>
							220141, г. Минск, <br>
							пр. Независимости 168/3, пом. 9Н <br>
							УНП 193448288
						</p>
					</div>
					<p>
						Информация, представленная на сайте, не является договором публичной оферты
					</p>
					<!-- sci -->
					<p class="footer__sci sci">
						<a class="sci__link sci__link--tel" href="tel:+375296064910">
							<svg>
								<use xlink:href="./assets/img/icons/sprite.svg#sci__phone-fill"></use>
							</svg>
						</a>
						<a class="sci__link sci__link--tg" href="https://msngr.link/tg/375296064910">
							<svg>
								<use xlink:href="./assets/img/icons/sprite.svg#sci__tg"></use>
							</svg>
						</a>
						<a class="sci__link sci__link--viber" href="https://msngr.link/vi/375296064910">
							<svg>
								<use xlink:href="./assets/img/icons/sprite.svg#sci__viber"></use>
							</svg>
						</a>
						<a class="sci__link sci__link--phone" href="tel:+375296064910">
							+375&nbsp;29&nbsp;606&nbsp;49&nbsp;10
						</a>
					</p>
				</div>
				<div class="footer__top-col">
					<ul class="footer__category">
						<li>
							<a href="#">Ламинат</a>
						</li>
						<li>
							<a href="#">Паркетная доска</a>
						</li>
						<li>
							<a href="#">Виниловые полы</a>
						</li>
						<li>
							<a href="#">Пробковые покрытия</a>
						</li>
						<li>
							<a href="#">Штучный паркет</a>
						</li>
						<li>
							<a href="#">Террасная доска</a>
						</li>
						<li>
							<a href="#">Дизайнерские полы</a>
						</li>
						<li>
							<a href="#">Сопутствующие товары</a>
						</li>
					</ul>
				</div>
				<div class="footer__top-col">
					<!-- footer links -->
					<ul class="footer__links" style="margin-top: 0;">
						<li class="first"><a href="vse-kovryi/">Все ковры</a></li>
						<li class=""><a href="akcziya/">Акция</a></li>
						<li class=""><a href="detskie-kovryi/">Детские ковры</a></li>
						<li class=""><a href="klassicheskie/">Классические</a></li>
						<li class=""><a href="kovrovyie-dorozhki/">Ковровые Дорожки</a></li>
						<li class=""><a href="kovryi/">Ковры</a></li>
						<li class=""><a href="kovryi-abstrakcziya/">Ковры Абстракция</a></li>
						<li class=""><a href="kovryi-v-loft/">Ковры в лофт</a></li>
						<li class=""><a href="kovryi-iz-akrila/">Ковры из акрила</a></li>
						<li class=""><a href="kovryi-iz-bambuka-i-viskozyi/">Ковры из бамбука и вискозы</a></li>
						<li class=""><a href="kovryi-ruchnoj-rabotyi/">Ковры ручной работы</a></li>
						<li class=""><a href="kovryi-s-dlinnyim-vorsom/">Ковры с длинным ворсом</a></li>
						<li class=""><a href="kovryi-s-potertostyami/">Ковры с потертостями</a></li>
						<li class=""><a href="kruglyie-kovryi/">Круглые ковры</a></li>
						<li class=""><a href="novinki/">Новинки</a></li>
						<li class=""><a href="ovchina-i-shkuryi-korov/">Овчина и шкуры коров</a></li>
						<li class=""><a href="prikrovatnyie/">Прикроватные</a></li>
						<li class=""><a href="rasprodazha1/">Распродажа</a></li>
						<li class=""><a href="top-2021/">Топ 2021</a></li>
						<li class="last"><a href="artikul-2118-(2)/">Артикул 2118 (2)</a></li>
					</ul>
					<!-- footer firm indormation -->
					<div class="footer__firmInfoBox">
						<!-- firm info -->
						<div class="firm-info firm-info firm-info--work">
							<img class="firm-info__ic" src="./assets/img/components/firm-ic/firm-ic__by.png" alt="">
							Работаем по всей Беларуси
						</div>
						<!-- firm info -->
						<div class="firm-info firm-info--loc">
							<svg class="firm-info__ic">
								<use xlink:href="./assets/img/components/firm-ic/sprite.svg#firm-info__loc">
								</use>
							</svg>
							Минск пр. Независимости 168/3
						</div>
						<!-- firm info -->
						<div class="firm-info firm-info--mail">
							<svg class="firm-info__ic">
								<use xlink:href="./assets/img/components/firm-ic/sprite.svg#firm-info__mail">
								</use>
							</svg>
							<a href="mailto:floorstudio.by@gmail.com">floorstudio.by@gmail.com</a>
						</div>
						<!-- firm info -->
						<div class="firm-info firm-info--clock">
							<svg class="firm-info__ic">
								<use xlink:href="./assets/img/components/firm-ic/sprite.svg#firm-info__clock">
								</use>
							</svg>
							пн-пт: 10.00-20.00, сб-вс: 10.00-18.00
						</div>
					</div>
				</div>
			</div>
			<!-- sci links -->
			<div class="footer__sciLinks">
				<a class="sci-link" target="_blank" href="#">
					<img src="./assets/img/icons/insta.png" alt="">
				</a>
			</div>
		</div>
	</div>
	<!-- footer bottom -->
	<div class="footer__bottom">
		<div class="footer__bottom-container container">
			<p class="footer__copyright">&copy; 2020 FLOORSTUDIO</p>
			<a class="ArtBro" href="https://cweb.by/" target="_blank">
				Разработка и продвижение cweb
			</a>
		</div>
	</div>
</footer>