{% set title = "Контакты" %}
{% set classPage = "contacts-pg" %}
{% extends "./includes/layouts/page.twig" %}

{% block breadcrumbs %}
<!-- BREAD CRUMB -->
<div class="bread-crumb">
	<div class="bread-crumb__container container">
		<a href="#" class="bread-crumb__item">Главная</a>
		<span class="bread-crumb__item">Контакты</span>
	</div>
</div>
{% endblock breadcrumbs %}

{% block content %}
	<!-- MAIN -->
	<main>
		<div class="container">
			<h1 class="title-1"><span>Контакты</span></h1>
			<!-- illustrated Methods -->
			<div class="paymentInfo-b__methods illustratedMethods illustratedMethods--small">
				<div class="illustratedMethods__list">
					<!-- item -->
					<div class="illustratedMethods__item">
						<div class="illustratedMethods__img">
							<svg>
								<use xlink:href="./assets/img/pages/contacts/sprite.svg#img-1">
								</use>
							</svg>
						</div>
						<div class="illustratedMethods__title">Связаться с нами</div>
						<div class="illustratedMethods__text">
							<a href="tel:+375296064910">+375 29 606 49 10</a> <br>
							<a href="mailto:floorstudio.by@gmail.com">floorstudio.by@gmail.com</a>
						</div>
					</div>
					<!-- item -->
					<div class="illustratedMethods__item">
						<div class="illustratedMethods__img">
							<svg>
								<use xlink:href="./assets/img/pages/contacts/sprite.svg#img-3">
								</use>
							</svg>
						</div>
						<div class="illustratedMethods__title">
							Время работы
						</div>
						<div class="illustratedMethods__text">
							пн-пт: 10.00 - 20.00 <br>
							сб, вс: 10.00 - 18.00
						</div>
					</div>
					<!-- item -->
					<div class="illustratedMethods__item">
						<div class="illustratedMethods__img">
							<svg>
								<use xlink:href="./assets/img/pages/contacts/sprite.svg#img-4">
								</use>
							</svg>
						</div>
						<div class="illustratedMethods__title">
							Реквизиты
						</div>
						<div class="illustratedMethods__text" style="text-align: left;">
							ООО «ТХ Компани» <br>
							220125, г. Минск, ул. Уручская, <br>
							д.21, пом. 441 <br>
							УНП 193518313

						</div>
					</div>
				</div>
			</div>
			<!-- application block -->
			<div class="application-b section">
				<div class="application-b__container container">
					<div class="application-b__row">
						<!-- form -->
						<form class="application-b__application-f application-f">
							<div class="b-input">
								<div class="b-input__input">
									<input type="text" name="username" placeholder="Имя">
								</div>
							</div>
							<div class="b-input">
								<div class="b-input__input">
									<input type="tel" name="tel" placeholder="Телефон">
								</div>
							</div>
							<div class="b-input">
								<div class="b-input__input">
									<textarea type="text" name="message" placeholder="Комментарий"></textarea>
								</div>
							</div>
							<button class="application-f__submit btnGo" type="submit" href="#">
								<span class="btnGo__text">Отправить</span>
								<span class="btnGo__arrWrap">
									<svg class="btnGo__arr">
										<use xlink:href="./assets/img/icons/sprite.svg#arr-tr-right">
										</use>
									</svg>
								</span>
							</button>
						</form>
						<!-- map -->
						<div class="application-b__map map" id="map">
							<iframe src="https://yandex.by/map-widget/v1/-/CCUezHUt0A" frameborder="1"
								allowfullscreen="true" style="position: absolute; inset: 0;"></iframe>
						</div>
					</div>

				</div>
			</div>
		</div>
	</main>
{% endblock content %}