{% set title = "Оплата" %}
{% set classPage = "customers-pg" %}
{% extends "./includes/layouts/page.twig" %}

{% block breadcrumbs %}
<!-- BREAD CRUMB -->
<div class="bread-crumb">
	<div class="bread-crumb__container container">
		<a href="#" class="bread-crumb__item">Главная</a>
		<span class="bread-crumb__item">Оплата</span>
	</div>
</div>
{% endblock breadcrumbs %}

{% block content %}
	<!-- MAIN -->
	<main>
		<div class="container">
			<h1 class="title-1"><span>Оплата</span></h1>
			<div class="paymentInfo-b">
				<div class="paymentInfo-b__container">
					<!-- text -->
					<div class="paymentInfo-b__text">
						<div>Мы заботимся о том, чтобы оплата была комфортна для каждого нашего клиента!</div>
						<p>Заказы принимаются:</p>
						<ul>
							<li>- по телефону - с 10.00 до 20.00</li>
							<li>- через сайт - круглосуточно (для подтверждения заказа с Вами свяжется менеджер)
							</li>
						</ul>
						<div>В нашем шоу-руме Вы можете произвести оплату следующими способами:</div>
					</div>
					<!-- illustrated Methods -->
					<div class="paymentInfo-b__methods illustratedMethods">
						<div class="illustratedMethods__list">
							<!-- item -->
							<div class="illustratedMethods__item">
								<div class="illustratedMethods__img">
									<svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M73.4297 42.045H71.9062V31.381C71.9062 27.1769 68.9541 23.6517 65.0145 22.7632L58.0806 10.7533C57.0645 8.9933 55.4237 7.73418 53.4605 7.20813C52.0743 6.83687 50.645 6.86414 49.3047 7.26877L44.2627 2.22664C41.2958 -0.739946 36.469 -0.740251 33.5021 2.22664L13.184 22.545H8.83594C3.96383 22.545 0 26.5089 0 31.381V69.1622C0 74.0343 3.96383 77.9982 8.83594 77.9982H29.0977C29.9389 77.9982 30.6211 77.316 30.6211 76.4747C30.6211 75.6335 29.9389 74.9513 29.0977 74.9513H8.83594C5.64388 74.9513 3.04688 72.3543 3.04688 69.1622V31.381C3.04688 28.1889 5.64388 25.5919 8.83594 25.5919H63.0703C66.2624 25.5919 68.8594 28.1889 68.8594 31.381V42.045H57.5859C53.0499 42.045 49.3594 45.7356 49.3594 50.2716C49.3594 54.8076 53.0499 58.4982 57.5859 58.4982H68.8594V69.1622C68.8594 72.3543 66.2624 74.9513 63.0703 74.9513H42.8086C41.9674 74.9513 41.2852 75.6335 41.2852 76.4747C41.2852 77.316 41.9674 77.9982 42.8086 77.9982H63.0703C67.9424 77.9982 71.9062 74.0343 71.9062 69.1622V58.4982H73.4297C75.9498 58.4982 78 56.4479 78 53.9279V46.6154C78 44.0954 75.9498 42.045 73.4297 42.045V42.045ZM52.6719 10.1513C53.8489 10.4666 54.8328 11.2215 55.442 12.2768L61.3705 22.545H28.5329L49.2102 10.6069C50.2654 9.99785 51.4945 9.83576 52.6719 10.1513V10.1513ZM35.6567 4.38124C36.5182 3.51959 37.6639 3.04503 38.8824 3.04503C40.101 3.04503 41.2468 3.51959 42.1083 4.38124L46.4243 8.69729L22.4393 22.545H17.493L35.6567 4.38124ZM74.9531 53.9279C74.9531 54.7679 74.2697 55.4513 73.4297 55.4513H57.5859C54.7298 55.4513 52.4062 53.1277 52.4062 50.2716C52.4062 47.4155 54.7298 45.0919 57.5859 45.0919H73.4297C74.2697 45.0919 74.9531 45.7753 74.9531 46.6154V53.9279Z" fill="#CE3037"/>
										<path d="M57.3315 48.7482C56.9309 48.7482 56.5378 48.911 56.2545 49.1945C55.9711 49.478 55.8081 49.8694 55.8081 50.2716C55.8081 50.6723 55.9709 51.0653 56.2545 51.3485C56.5378 51.6319 56.9309 51.795 57.3315 51.795C57.7337 51.795 58.1252 51.632 58.4084 51.3485C58.6933 51.0653 58.855 50.6723 58.855 50.2716C58.855 49.8709 58.6933 49.4779 58.4084 49.1945C58.1252 48.9112 57.7337 48.7482 57.3315 48.7482Z" fill="#CE3037"/>
										<path d="M35.9531 74.9513C35.5525 74.9513 35.1594 75.1141 34.8761 75.3977C34.5927 75.6812 34.4297 76.0741 34.4297 76.4747C34.4297 76.8754 34.5925 77.2684 34.8761 77.5516C35.1594 77.835 35.5525 77.9982 35.9531 77.9982C36.3538 77.9982 36.7468 77.8352 37.03 77.5516C37.3134 77.2684 37.4766 76.8754 37.4766 76.4747C37.4766 76.0741 37.3136 75.681 37.03 75.3977C36.7468 75.1143 36.3538 74.9513 35.9531 74.9513Z" fill="#CE3037"/>
										</svg>

								</div>
								<div class="illustratedMethods__title">Наличными деньгами/банковской картой</div>
								<div class="illustratedMethods__text">
									При доставке курьером заказ можно оплатить как наличными денежными средствами, так и банковской картой.
								</div>
							</div>
							<!-- item -->
							<div class="illustratedMethods__item">
								<div class="illustratedMethods__img">
									<img src="assets/img/pages/customers/xalva.jpg" alt="">
								</div>
								<div class="illustratedMethods__title">В рассрочку по картам рассрочки «Халва»</div>
								<div class="illustratedMethods__text">
									Карта действуют через терминал оплаты при доставке товара курьером. Срок кредитования — <b>2 месяца.</b>
								</div>
							</div>
							<!-- item -->
							<div class="illustratedMethods__item">
								<div class="illustratedMethods__img">
									<img src="assets/img/pages/customers/kashalot.jpg" alt="">
								</div>
								<div class="illustratedMethods__title">Рассрочка Кашалот Белгазпромбанк</div>
								<div class="illustratedMethods__text">
									Срок кредитования — <b>2 месяца.</b>
								</div>
							</div>
							<!-- item -->
							<div class="illustratedMethods__item">
								<div class="illustratedMethods__img">
									<svg width="86" height="86">
										<path d="M63.5466 64.9005C63.5466 64.1574 64.156 63.5675 64.8991 63.5675C65.6422 63.5675 66.2321 64.1574 66.2321 64.9005V84.6482C66.2321 85.3906 65.6416 86.0007 64.8991 86.0007H7.67016C6.92774 86.0007 6.33716 85.3913 6.33716 84.6482V50.6937C6.33716 49.9506 6.92706 49.3607 7.67016 49.3607C8.41325 49.3607 9.02264 49.9506 9.02264 50.6937V83.3145H63.5466V64.9005Z" fill="#CE3037"/>
										<path d="M19.5543 81.1625C19.5543 81.9049 18.9449 82.515 18.2018 82.515C17.4587 82.515 16.8694 81.9056 16.8694 81.1625V64.0048C16.8694 61.453 17.8974 59.1297 19.5926 57.454C21.2689 55.7784 23.5922 54.7303 26.144 54.7303C28.6958 54.7303 31.0191 55.7784 32.6948 57.454C34.3711 59.1297 35.4186 61.453 35.4186 64.0048V81.1625C35.4186 81.9049 34.8092 82.515 34.0668 82.515C33.3237 82.515 32.7331 81.9056 32.7331 81.1625V64.0048C32.7331 62.1961 31.9907 60.5574 30.7907 59.3588C29.5907 58.1588 27.9527 57.4157 26.1433 57.4157C24.334 57.4157 22.6771 58.1582 21.4778 59.3588C20.2967 60.5574 19.5543 62.1961 19.5543 64.0048V81.1625Z" fill="#CE3037"/>
										<path d="M44.0643 70.4414H56.4046V61.0526H44.0643V70.4414ZM57.7571 73.1269H42.7313C41.9888 73.1269 41.3788 72.5363 41.3788 71.7939V59.7008C41.3788 58.9584 41.9882 58.3678 42.7313 58.3678H57.7571C58.4995 58.3678 59.1096 58.9584 59.1096 59.7008V71.7932C59.1096 72.5363 58.4995 73.1269 57.7571 73.1269Z" fill="#CE3037"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M28.3908 73.9452C29.1144 73.9452 29.7238 73.3365 29.7238 72.6129C29.7238 71.8705 29.1144 71.2604 28.3908 71.2604C27.6484 71.2604 27.0383 71.8698 27.0383 72.6129C27.0383 73.3358 27.6477 73.9452 28.3908 73.9452Z" fill="#CE3037"/>
										<path d="M29.9522 41.6287V41.5521L30.8478 24.9272H25.6858L22.6389 41.7046C22.6577 42.7709 23.0581 43.7236 23.7246 44.4284C24.3716 45.1144 25.286 45.533 26.2952 45.533C27.2862 45.533 28.1993 45.1144 28.847 44.4284C29.533 43.7048 29.9327 42.7145 29.9327 41.6287H29.9522ZM33.5138 24.9279L32.6377 41.6287C32.6377 42.7145 33.0569 43.7048 33.7234 44.4284C34.3711 45.1144 35.2849 45.533 36.294 45.533C37.2844 45.533 38.1981 45.1144 38.8458 44.4284C39.5318 43.7048 39.9316 42.7145 39.9316 41.6287H39.9504L39.4928 33.2498C39.4545 32.5073 40.0263 31.8785 40.7694 31.8402C41.5118 31.8019 42.1407 32.3736 42.1783 33.1161L42.6164 41.5521V41.6287H42.6352C42.6352 42.7145 43.0544 43.7048 43.7209 44.4284C44.368 45.1144 45.2824 45.533 46.2915 45.533C47.0333 45.533 47.6239 46.1424 47.6239 46.8848C47.6239 47.6272 47.0333 48.2373 46.2915 48.2373C44.5205 48.2373 42.9201 47.4754 41.7779 46.2761C41.6066 46.0859 41.4352 45.8958 41.2827 45.6855C41.1309 45.8958 40.9595 46.0859 40.7882 46.2761C39.6454 47.4754 38.0449 48.2373 36.2934 48.2373C34.5223 48.2373 32.9226 47.4754 31.7797 46.2761C31.6084 46.0859 31.4371 45.8958 31.2845 45.6855C31.132 45.8958 30.9614 46.0859 30.79 46.2761C29.6472 47.4754 28.0475 48.2373 26.2952 48.2373C24.5241 48.2373 22.9244 47.4754 21.7815 46.2761C21.6102 46.0859 21.4389 45.8958 21.2864 45.6855C21.1339 45.8958 20.9625 46.0859 20.7912 46.2761C19.6483 47.4754 18.0486 48.2373 16.297 48.2373C14.526 48.2373 12.9256 47.4754 11.7834 46.2761C11.612 46.0859 11.4407 45.8958 11.2882 45.6855C11.1357 45.8958 10.9644 46.0859 10.793 46.2761C9.65084 47.4754 8.05111 48.2373 6.29886 48.2373C4.79453 48.2373 3.42323 47.685 2.33748 46.7901C1.25173 45.8958 0.451529 44.6199 0.127685 43.1532C0.0141383 42.6775 -0.0241586 42.22 0.0141383 41.7631C0.0517633 41.3062 0.166654 40.8493 0.356794 40.3918L5.9179 26.8327C6.489 25.4231 7.42223 24.2809 8.56509 23.4814C9.72676 22.6812 11.0981 22.2431 12.5836 22.2431H37.1507C37.8931 22.2431 38.5025 22.8525 38.5025 23.5956C38.5025 24.3192 37.8931 24.9286 37.1507 24.9286H33.5138V24.9279ZM22.9822 24.9279H17.5353L12.6414 41.7812C12.6797 42.8099 13.0794 43.7431 13.7271 44.4284C14.3748 45.1137 15.2885 45.533 16.2984 45.533C17.2887 45.533 18.2025 45.1144 18.8502 44.4284C19.5361 43.7048 19.9359 42.7145 19.9359 41.6287H19.9547C19.9547 41.5521 19.9547 41.4574 19.9735 41.3808L22.9822 24.9279ZM14.7551 24.9279H12.5842C11.651 24.9279 10.7937 25.194 10.0896 25.6898C9.36597 26.2038 8.77539 26.9274 8.39511 27.8606L2.83333 41.4003C2.7574 41.5904 2.70029 41.7812 2.68081 41.972C2.68081 42.1622 2.68081 42.353 2.73792 42.5619C2.92806 43.4381 3.40442 44.2 4.05211 44.7328C4.68031 45.2474 5.44222 45.5323 6.29953 45.5323C7.28987 45.5323 8.20362 45.1137 8.85131 44.4277C9.53729 43.7041 9.93706 42.7138 9.93706 41.628H9.95587C9.95587 41.4943 9.97468 41.3801 9.99417 41.2471L14.7551 24.9279Z" fill="#CE3037"/>
										<path d="M40.7318 77.6587C39.9893 77.6587 39.3793 77.0688 39.3793 76.3263C39.3793 75.5839 39.9893 74.9738 40.7318 74.9738H59.7566C60.4983 74.9738 61.0889 75.5832 61.0889 76.3263C61.0889 77.0694 60.4983 77.6587 59.7566 77.6587H40.7318Z" fill="#CE3037"/>
										<path d="M83.3145 31.4216L66.0231 60.6723C65.6422 61.3193 64.8232 61.529 64.1943 61.148C63.9847 61.0338 63.814 60.8625 63.6998 60.6535L46.4259 31.4216C46.4071 31.3833 46.3876 31.3457 46.3688 31.3262C45.531 29.8024 44.8833 28.1462 44.4264 26.4322C43.9883 24.7183 43.7599 22.9472 43.7599 21.119C43.7599 15.2919 46.1215 10.017 49.9304 6.18931C53.7581 2.36097 59.033 0 64.8796 0C70.7068 0 75.9823 2.36097 79.8107 6.18864C83.639 10.0163 86 15.2919 86 21.119C86 22.9472 85.7527 24.7183 85.314 26.4322C84.8565 28.1838 84.19 29.8407 83.3333 31.3833L83.3145 31.4216ZM64.8796 8.30236C68.4211 8.30236 71.6212 9.73077 73.9445 12.0534C76.2679 14.3768 77.6963 17.5763 77.6963 21.1184C77.6963 24.6605 76.2679 27.86 73.9445 30.1833C71.6212 32.5067 68.4211 33.9539 64.8796 33.9539C61.3368 33.9539 58.1185 32.5067 55.7952 30.1833C53.4907 27.86 52.0441 24.6605 52.0441 21.1184C52.0441 17.5763 53.4907 14.3768 55.7952 12.0534C58.1192 9.73077 61.3368 8.30236 64.8796 8.30236ZM72.0405 13.9582C70.2123 12.1112 67.6793 10.9872 64.8803 10.9872C62.0806 10.9872 59.5476 12.1112 57.7 13.9582C55.8718 15.7864 54.7289 18.3193 54.7289 21.1184C54.7289 23.9181 55.8718 26.451 57.7 28.298C59.5476 30.1262 62.0806 31.2496 64.8803 31.2496C67.6793 31.2496 70.213 30.1262 72.0405 28.298C73.8693 26.451 75.0122 23.9181 75.0122 21.1184C75.0122 18.3193 73.8686 15.787 72.0405 13.9582ZM64.8796 57.3586L81.01 30.0503C81.7524 28.7173 82.3242 27.2701 82.7239 25.7463C83.1049 24.2795 83.3145 22.7369 83.3145 21.1184C83.3145 16.0343 81.2384 11.4252 77.9066 8.09273C74.5728 4.76023 69.9644 2.68481 64.8796 2.68481C59.7754 2.68481 55.167 4.76023 51.8345 8.09273C48.5006 11.4252 46.4447 16.0343 46.4447 21.1184C46.4447 22.7369 46.6348 24.2795 47.0158 25.7463C47.4162 27.2506 47.9873 28.679 48.7109 30.012L48.7297 30.0503L64.8796 57.3586Z" fill="#CE3037"/>
										<path d="M64.8797 14.968C66.556 14.968 68.0979 15.6728 69.2213 16.7774C70.3265 17.8819 71.0119 19.4239 71.0119 21.119C71.0119 22.8142 70.3259 24.3561 69.2213 25.4607C68.0979 26.5841 66.5755 27.2701 64.8797 27.2701C63.1852 27.2701 61.6419 26.5841 60.5178 25.4607C60.499 25.4419 60.4795 25.4036 60.4419 25.3848C59.3763 24.2802 58.7286 22.7759 58.7286 21.119C58.7286 19.4246 59.4146 17.8819 60.5178 16.7774C60.5561 16.7586 60.5749 16.7203 60.6132 16.7008C61.7178 15.6345 63.2235 14.968 64.8797 14.968ZM67.3172 18.662C66.689 18.0526 65.8324 17.6716 64.8797 17.6716C63.9464 17.6716 63.1086 18.0338 62.4804 18.6237C62.4616 18.6425 62.4421 18.662 62.4233 18.6808C61.7937 19.3097 61.4128 20.1663 61.4128 21.1184C61.4128 22.0516 61.7749 22.8894 62.3662 23.5183C62.385 23.5371 62.4045 23.5566 62.4233 23.5754C63.0521 24.1848 63.9088 24.5846 64.8797 24.5846C65.8324 24.5846 66.689 24.1848 67.3172 23.5754C67.9461 22.9465 68.3264 22.0899 68.3264 21.1184C68.3264 20.1663 67.9461 19.3097 67.3172 18.6808V18.662Z" fill="#CE3037"/>
										</svg>

								</div>
								<div class="illustratedMethods__title">Рассрочка от магазина</div>
								<div class="illustratedMethods__text">
									По договорённости <b>(2-3 месяца)</b>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock content %}